@import '../../styles/contants.scss';

.top_btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 0rem;
    margin-top: -2rem;

    // .active {
    //     background-color: $primary;
    // }
    .active {
        color: #fff;
        background-color: $primary;
    }

    button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
        color: $primary;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: $primary;
            color: #fff;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }
}


.wrapper {
    background: white;
    overflow: hidden;

    .container {
        flex-direction: column;
        gap: 2rem;

        .heading {
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
        }

        .showCase {
            width: 100%;
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;

            >div img {
                @media (max-width: $sm) {
                    width: 100%;
                }

                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                cursor: pointer;
            }

            .overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                a {
                    color: $primary;
                    font-size: 2rem;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 40px;
                    margin-right: 40px;
                    transition: box-shadow 0.6s ease-in-out;
                }

                :hover {
                    box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
                }
            }
        }

    }
}